body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0c002b;
}
a{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    background: linear-gradient(to right,#049bff,#ff2ce2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    padding: 30px 60px; 
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.341); 
    border-radius: 8px;
    overflow: hidden;
}
a:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 100%;
    background: #ffffff0d; 
}
a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#049bff,#ff2ce2);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}
a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    height : 100%;
    width: 3px;
    background: linear-gradient(to bottom, #049bff,#ff2ce2);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
a span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width : 100%;
    height: 3px;
    background: linear-gradient(to left,#049bff,#ff2ce2);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}
a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width : 3px;
    height: 100%;
    background: linear-gradient(to top, #049bff,#ff2ce2);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate1{
    0%{
        transform: translateX(-80%);
        opacity: 100%;
        }
    80%{
        opacity: 100%;
    }   
    100%{
        transform: translateX(100%);
        opacity: 0%;
    }
}
@keyframes animate2{
    0%{
        transform: translateY(80%);
        opacity: 100%;
        }
    80%{
        opacity: 100%;
    }   
    100%{
        transform: translateY(-100%);
        opacity: 0%;
    }
}
@keyframes animate3{
    0%{
        transform: translateX(80%);
        opacity: 100%;
        }
    80%{
        opacity: 100%;
        }   
    100%{
        transform: translateX(-100%);
        opacity: 0%;
    }
}
@keyframes animate4{
    0%{
        transform: translateY(-80%);
        opacity: 100%;
        }

    80%{
        opacity: 100%;
    }    
    100%{
        transform: translateY(100%);
        opacity: 0%;
    }
}